<div class="container">
  <% if flash[:error] %>
  <div class="alert alert-error">
    <%= flash[:error] %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
  
  <%= form_tag(:login, :method => 'POST', :class => 'form-signin') do %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Hacker alias" name="username" required>
    <input type="password" class="input-block-level" placeholder="Password" name="password" required>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  <% end %>

</div> <!-- /container -->
